 /*navegaçao do site inteiro*/

 header {
    height: 60px;
    background-color: #ffffff; /* Fundo branco */
    border-bottom: 1px solid #ccc; /* Linha fina cinza na parte inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 10px;
}

  nav ul li a:hover {
    color: green; /* Cor do texto cinza um pouco mais escuro ao passar o mouse */
}

.logo{
    margin-left: 15px;
    height: 55px;
    border-radius: 50%;
    box-shadow:  5px 5px 9px #8f8f8f,
                 -5px -5px 9px #ffffff;
  }

  /*abaixo disso e o codigo so do index*/

.banner{
    margin-top: 30px;
    text-align: center;
}

#promocao1{
    height: 450px;
    width: 1200px;
    border-radius: 20px;
}